@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}
:root.dark {
  --bg: 17 24 39;
  --fg: 255 255 255;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}

.focus-ring {
  @apply focus:outline-none focus:ring-2 focus:ring-brand dark:focus:ring-offset-gray-900;
}

.container-xl {
  @apply max-w-[1280px] mx-auto px-4;
}
